* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template: auto 4fr / 1fr 4fr;
}

/*------HEADER-DIV-----*/

.header {
  grid-column: 2 / 3;
}

/*header-top*/ 
/*flex-box layout design properties will be used at header division*/

.header-top {
  display: flex;
  gap: 10px;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between; /*pushing items through the frontier of top section div*/
}

.search-bar {
  width: 70%; /*increases the division width inside the top section div for better UI allocation*/
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

label {
  display: flex;
  align-items: center; /*making the search image in line with the input area*/
}

input {
  width: 80%; /*enlarging the input area by a larger percent of the total div*/
  border-radius: 20px;
  border: none;
  background-color: #e2e8f0;
  height: 2rem;
  padding: 0.75em 2em; /*This will allow the text area to start and end NOT just the borders of the input area*/
}

.search-bar img {
  cursor: pointer;
}

.info-bar {
  width: 30%; /*decreases the division width inside the top section div for better UI allocation*/
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.account-info {
  display: flex;
  align-items: center;
  justify-items: space-between; /*pushing items through the frontier of the div*/
  gap: 10px;
}

img[class="account-pic-small"] { /*small user account photo*/
  height: 3rem;
  width: 3rem;
  border: 1px solid #38bdf8;
  border-radius: 50%; /*making it a complete circle in shape*/
}

p.account-name {
  font-weight: 800;
}

/*header-bottom*/
/*flex-box layout design properties will be used at header division*/

.header-bottom {
  display: flex;
  gap: 170px;
  padding: 20px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between; /*pushing items through the frontier of bottom section div*/
}

.account {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

img[class="account-pic-large"] { /*large user account photo*/
  height: 5rem;
  width: 5rem;
  border: 2px solid #38bdf8;
  border-radius: 50%; /*making it a complete circle in shape*/
}

.account-name {
  line-height: 30px; /*allowing to increase space between the 2 different paragraphs*/
  font-weight: 800;
}

.greeting-message {
  font-size: 12px;
}

.name {
  font-size: 24px;
}

.buttons {
  flex: 1; /*enlarging the buttons div for a better UI*/
  display: flex;
  justify-content: center;
  gap: 20px;
}

.header-button {
  color: white;
  background-color: #38bdf8;
  border: none;
  width: 6rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.header-button:hover { /*when mouse moved around the header-buttons*/
  color: black;
}

